<!DOCTYPE html>
<html>
<head>
    <title>Federal Contract Fraud Detection System</title>
    <style>
        /* Styles will be injected here */
        {{styles}}
    </style>
</head>
<body>
    <h1>Federal Contract Fraud Detection System</h1>
    <table>
        <thead>
            <tr>
                <th>Award ID</th>
                <th>Recipient</th>
                <th>Amount</th>
                <th>Award Date</th>
            </tr>
        </thead>
        <tbody>
            {{tableRows}}
        </tbody>
    </table>
</body>
</html> 